<html>
    <head>
        <title>ML Food App API</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <h1 class="col-md-12 page-title text-center">ML Food App</h1>
                <div class="col-md-4 offset-md-4">
                    <div class="card card-sm well-sm">
                        <div class="card-body">
                            <form class="form" action = "/upload" method = "post" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label for="upload-hdr">Choose HDR File</label>
                                    <input type="file" id="upload-hdr" name="file_hdr" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="upload-img">Choose IMG File</label>
                                    <input type="file" id="upload-img" name="file_img" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-secondary" value="Upload & Predict">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>